.Loader{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.Loader img{
    width: 60%;
}

.svg{
    position: absolute;
    top: 25%;
}
.svg svg {
    filter: drop-shadow(0 0 5px #10bd17);
}